.carousel {
     padding: 81px 0;
     &__inner {
        width: 750px;
        margin: 0 auto ;
        position: relative;
     }
     .slick-prev {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -66px;
        border: none;
        background-color: #fff;
        img {
            width: 31px;
            height: 50px;
        }
     }
     .slick-next {
        border: none;
        background-color: #fff; 
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: -66px;
        img {
            width: 31px;
            height: 50px;
        }
     }
     .slick-dots {
      display: flex;
      justify-content: center;
      align-items: center;
      li {
         list-style: none;
         margin: 0 10px;
      }
      button {
         font-size: 0;
         width: 10px;
         height: 15px;
         background-color: #ffff;
         border-radius: 50%;
      }
      li.slick-active button {
         background-color: transparent;
         border: 1px solid red
      }
     }
    // .tns-item {
    //     img {
    //         display: block;
    //         margin: 0 auto;
    //     }
    // }
    // .tns-visually-hidden {
    //     display: none;
    // }
}